 admin/
 admin/add-category.php
 admin/add-post.php
 admin/add-user.php
 admin/category.php
 admin/config.php
 admin/delete-category.php
 admin/delete-post.php
 admin/delete_user.php
 admin/footer.php
 admin/header.php
 admin/images/index.php
 admin/images/news.jpg
 admin/index.php
 admin/logout.php
 admin/post.php
 admin/post_submit.php
 admin/save-setting.php
 admin/save-update-post.php
 admin/setting.php
 admin/update-category.php
 admin/update-post.php
 admin/update-user.php